<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org">
     <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"> 
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}"/>
     </head>
        <body>
            <div class="container">
              <div class="col-md-6">
              <h1>Add To Do Item</h1>
                  <form action="#" th:action="@{/todo}"
                    th:object="${todo}" method="POST">
                  <div class="form-group">
                  <label for="description">Description</label>
                  <input class="form-controller" type="text" th:field="*{description}" id="description" name="description" placeholder="Add Description">
              <!--   <p th:each=" x : ${#fields.errors('description')}" th:text="${x}"></p> -->
                  </div>
                   <button type="submit" class="btn btn-success">Save</button>
                  </form>
              </div>
               
            </div>
        </body>
     </html>